{% extends 'base.html' %}

{% block title %} Cart {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <div class="card">
                <div class="card-header text-center text-white bg-primary">
                    <h4>Your Cart</h4>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Remove</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
    
    
                        <tbody>
                            {% for item in cart %}
                            {% with item.product as product%}
                            <tr>
                                <td>
                                    <a href="{{product.get_absolute_url}}">
                                        <img src="{% if product.image %}
                                        {{product.image.url}} {%else%} https://bitsofco.de/content/images/2018/12/broken-1.png
                                        {%endif %}" style="width:50px; height: 50px;" alt="">
                                    </a>
                                </td>
                                <td>{{product.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>
                                    <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-primary">Remove</button>
                                    </form>
                                </td>
                                <td type="number">${{item.price}}</td>
                                <td>${{item.total_price}}</td>
                            </tr>
                            {% endwith %}
                            {% endfor %}
    
    
                            <tr class="total">
                                <td>Total</td>
                                <td colspan="4"></td>
                                <td >${{ cart.get_total_price }}</td>
                                </tr>
                        </tbody>
                        </table>
                </div>
                <div class="card-footer text-right">
                   
                        <a href="{%url 'shop:product_list' %}" class="btn btn-outline-warning">
                            Continue Shopping
                        </a>
                  
                   
                        <a href="#" class="btn btn-outline-danger">
                            CHeckout
                        </a>
                 
                </div>
            </div>

        </div>
     
    </div>
</div>



{% endblock %}