{% extends 'base.html' %}

{% block title %} 
    {% if category %}
    {{category.name}}
    {% else %}
    Products
    {% endif %}
{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <!--Side Bar-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h4>category</h4>
                </div>
                <div class="card-body">
                    <p><a href="" {% if not category %} class="btn btn-primary" {% endif %}>All</a></p>
                    {% for c in categories %}
                    <p>
                        <a href="{{c.get_absolute_url}}"
                         {%if category.slug = c.slug %} class="btn btn-primary" {% endif %}>
                        {{c.name}}
                        </a>
                    </p>

                    {% endfor %}
                </div>
            </div>
        </div> <!--col-md-4-->

        <!--Product List-->
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h4>
                        {% if category %} {{category.name}} 
                        {%else%}
                        Products
                        {%endif%}

                    </h4>
                </div><!--card-header-->
                {% for product in products %}
                
                <div class="card">
                    <div class="card-header text-center">
                        <h4>
                            <a href="{{product.get_absolute_url}}">
                                {{product.name}}
                            </a>
                        </h4>
                    </div>
                    <div class="card-body text-center">
                        <a href="{{product.get_absolute_url}}">
                            <img style="max-width: 100%; height: 250px;" src="
                            {% if product.image %} {{product.image.url}}
                            {% else %} https://bitsofco.de/content/images/2018/12/broken-1.png {%endif %}" alt="">
                        </a>
                    </div>
                    <div class="card-footer text-center">
                        <p>Price:${{product.price}} </p>
                    </div>
                </div>

                {% endfor %}


            </div><!--card-->
        </div><!--col-md-8-->
    </div><!--row-->
</div><!--contaienr-->

{% endblock %}


